@import './styles/tailwind.css';

@import 'swiper/scss';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/scrollbar';

@import 'swiper/css/effect-cards';
@import 'swiper/css/effect-creative';
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  // font-family: "Mozilla Headline", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
